.ace_comment.ace_placeholder {
	font-family: 'Courier New', Courier, monospace;
	@apply text-gray-200 text-base w-full h-full flex justify-center items-center whitespace-pre-wrap;
}

.LoaderComponent {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.LoaderComponent:after {
	content: ' ';
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: LoaderComponent 1.2s linear infinite;
}
@keyframes LoaderComponent {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
